//Сброс стилей
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Скруглённые углы
@mixin corner-rounding {
	border-radius: 12px;
	border: 0.5px solid rgba(255, 255, 255, 0.411);
}

//Задний фон
.backgroundLoginForm {
	// @include reset;
	width: 100%;
	height: 100%;
	background: rgba(2, 0, 36, 0.103);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 0.9724264705882353) 55%,
		rgba(0, 212, 255, 1) 100%
	);
}

.ContentBlock {
	@include corner-rounding();
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba($color: #000000, $alpha: 0.8);
	background-image: url("./pic/shied.png");
	background-size: 35%;
	background-repeat: no-repeat;
	background-position-y: top;
	background-position-x: center;
	filter: brightness(80%) grayscale(10%);
	padding: 200px 100px 100px 100px;
	color: antiquewhite;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	font-size: 18px;

	a:hover {
		color:#000000;
	}
}

// Центрирование
.centerBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

// Контент в линию
.inLineBlock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100%;
}

//Разделитель для формы
.formDataDivider10 {
	gap: 10px;
}

//Разделитель для формы
.formDataDivider20 {
	gap: 20px;
}

//Разделитель для формы
.formDataDivider30 {
	gap: 30px;
}

.shied {
	height: 10%;
	width: 10%;
}

//Поле ввода для данных
.inputArea {
	@include corner-rounding;
	height: 100%;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0);
	padding: 10px;
}

.parallaxCss {
	--scale: 1.5;
	--y: 0;
	overflow: hidden;
	#BodyWrapper {
		margin: 0;
		background-color: black;
		outline: none;
		border: none;
	}
}

#wrapper {
	width: 100vw;
	height: 100vh;
	#image {
		width: 100vw;
		height: 100vh;
		// background-image: url("https://images.unsplash.com/photo-1539035104074-dee66086b5e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=2550&q=80");

		background-image: url("./pic/bg.jpg");
		background-size: cover;
		transform: translateX(var(--x)) translateY(var(--y)) scale(var(--scale));
		transition: ease-out 0.7s;
	}
}
